version: '3.5'

services:
  postgres:
    image: postgres:16-alpine
    container_name: my-postgres-db
    environment:
      POSTGRES_DB: myapp
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5435:5432"
    volumes:
        - postgres_data:/var/lib/postgresql/data
    networks:
        - app-network
volumes:
  postgres_data:

networks:
  app-network: